.button_add_res {
          color: white;
          background-color: #2f8cb4;
}
.button_add_res:hover {
          color: white;
          background-color: #2a7b9e;
}
.back {
          color: white;
          background-color: #2f8cb4;
          border: 1px solid #2f8cb4;
}

.back:hover {
          color: #2f8cb4;
          background-color: white;
}
.textcolor {
          color: #2f8cb4;
}
