
.back {
    color: white;
    background-color: #2f8cb4;
    border: 1px solid #2f8cb4;
}

.back:hover {
    color: #2f8cb4;
    background-color: white;
}
.imgShowMore {
    height: 73vh;
    width: 59vw;
}
@media (max-width: 320px) {
    .imgShowMore {
              height: 47vh;
              width: 87vw;
    }
}

a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}

.cardstyle{
    width: 80%;
    height: 100px;
    margin-left: 20px;
    border-radius: 10px;
    border: 3px solid #2f8cb4;
}
.cardstyle1:hover,
.cardstyle2:hover,
.cardstyle3:hover,
.cardstyle4:hover {
          cursor: pointer;
          color: rgb(255, 255, 255);
}
.cardstyle1::before,
.cardstyle2::before,
.cardstyle3::before,
.cardstyle4::before {
          transition: 0.5s all ease;
          position: absolute;
          top: 0;
          left: 50%;
          right: 50%;
          bottom: 0;
          opacity: 0;
          content: '';
          border-radius: 10px;
          margin-top: 0.5px;
          margin-right: 0.5px;
          background-color: #2f8cb4;
         
}

.cardstyle1:hover::before,
.cardstyle2:hover::before,
.cardstyle3:hover::before,
.cardstyle4:hover::before {
          transition: 0.5s all ease;
          left: 0;
          right: 0;
          opacity: 1;
          z-index: -1;
}
.cardstyle1 {
    
    margin-top: 30px;
}
.carIcon {
    background-image: url(../image/generalinfo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5vw 9vh;
    height: 10vh;
}

.cardstyle2 {
    
    margin-top: 50px;
}
.carIcon2 {
    background-image: url(../image/Group\ 2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5vw 9vh;
    height: 11vh;
}
.cardstyle3 {
   
    margin-top: 50px;
}
.carIcon3 {
    background-image: url(../image/carDrain.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5vw 8vh;
    height: 11vh;
}
.cardstyle4 {
   
    margin-top: 50px;
}
.carIcon4 {
    background-image: url(../image/TechVisit.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5vw 9vh;
    height: 11vh;
}

.span1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #2f8cb4;
}
:root {
    --gradient: linear-gradient(
        45deg,
        #cfe7f1,
        #8fc3da,
        #75a6bb,
        #2f8cb4,
        #11455c
    );
}
.bgshowmor{
    margin-left: 45px;
    width: 100%;
    height: 700px;
    background-image: var(--gradient);
    border-bottom-left-radius: 400px;
    animation: bg-animation 5s infinite alternate;
    background-size: 2000px 1000px;

}
@keyframes bg-animation{
    0%{
        background-position:left;
    }
   
    100%{
        background-position:right;
    }
}
